<div class="general">
    <div class="center">
      <section id="content">
        <h1 class="subheader" v-if="!isEdit">New Entry</h1>
        <h1 class="subheader" v-else>Edit</h1>

        <!--Form-->
        <form class="mid-form" v-on:submit.prevent="save()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" v-model="entry.title" required />
            <div v-if="submitted && !$v.entry.title.required">You must register a title</div>
          </div>

          <div class="form-group">
            <label for="content">Description</label>
            <textarea name="content" v-model="entry.content" required></textarea>
            <div v-if="submitted && !$v.entry.content.required">A content is required</div>
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <input type="file" id="file" ref="file" name="file0" @change="fileChange()" />
            <div v-if="isEdit && entry.image">
              <img
                :src="url + 'get-image/' + entry.image"
                :alt="entry.title"
                class="image-small"
              />
            </div>
          </div>

          <div class="clearfix"></div>

          <input type="submit" value="Upload" class="btn btn-success" />
        </form>
      </section>
      <Sidebar></Sidebar>
      <div class="clearfix"></div>
    </div>
  </div>